<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Some page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/dist/css/bootstrap-theme.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css') }}">
</head>
<body>
    <section>
        <header>
            <nav>
                <a href="/books">All books</a>
                <a href="/books/new">Add a book</a>
                <a href="/authenticate">Login</a>
            </nav>
        </header>
    </section>