{% include 'partials/head.html' %}
<div class="container">
    <form action="{{ url_for('newBook', library_name=library_name, library_id=library_id )}}" method='post'>

        <div class="row">
            <div class="col-sm-5 form-group">
                <input name="4" class="form-control" placeholder="Title" type="text" required/>
            </div>
            <div class="col-sm-5 form-group">
                <input type="file" name="cover" accept="image/*">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-5 form-group">
                <input class="form-control" name="author" placeholder="Author" type="text" />
            </div>
        </div>

        <div class="row">
            <div class="col-sm-5 form-group">
                <select name="medium" class="form-control">  
                    <option value="file-pdf-o">Pick a medium</option>
                    <option value="file-pdf-o">PDF</option>
                    <option value="book">Physical</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-5 form-group">
                <input name="isbn" class="form-control" placeholder="isbn" type="text" />
            </div>
        </div>

        <div class="row">
            <div class="col-sm-5 form-group">
                <textarea name="description" placeholder="Description" id="" cols="30" rows="10" class="form-control"></textarea>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-5 form-group">
                <input name="publisher" placeholder="publisher" type="text" class="form-control" />
            </div>
        </div>

        <div class="row">
            <div class="col-sm-5 form-group">
                <input name="released" placeholder="Publication date" type="date" class="form-control" />
            </div>
        </div>

        <div class="row">
            <div class="col-sm-5 form-group">
                <select name="category" required class="form-control">
                    <optgroup label="Web Technology">
                        <option value="">Frontend</option>
                        <option value="">Backend</option>
                    </optgroup>

                    <optgroup label="Native Technology">
                        <option value="">iOS</option>
                        <option value="">Android</option>
                    </optgroup>

                    <optgroup label="Other"> 
                        <option value=""> Fiction </option>
                        <option value=""> Non-fiction </option>
                    </optgroup>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-5 form-group">
                <button class="btn btn-primary" type="submit">Add book</button>
            </div>
        </div>

    </form>
</div>
{% include 'partials/footer.html' %}
