{% include 'partials/head.html' %}

<section class="container">
    <article>
        <ul>
            <li class="library-books__book">
                <h3> <span class="fa fa-{{item.medium}}"></span> {{item.title}} </h3>
                <p>{{item.description}}</p>
                <span class="fa fa-user"></span> Author: {{i.author}}
                {% if i.uuid %}
                    <div>
                        <img class="user-image" src="{{i.addedByImage}}"/> {{i.addedBy}}
                    </div>
                {% endif %}
                {% if session.gplus_id == i.uuid %}
                    <aside class="row">
                        <div class="col-sm-5">
                            <a href="/{{f.name}}/books/{{i.id}}/edit">Edit</a>
                        </div>
                        <div class="col-sm-5">
                            <a href="/{{f.name}}/books/{{i.id}}/remove">Remove</a>
                        </div>
                    </aside>
                {% endif %}
            </li>
        </ul>
    </article>
</section>

{% include 'partials/footer.html' %}