{% include 'partials/head.html' %} {% for f in library %}
<section>
    <header>
        <h1>{{f.name}} collection</h1>
    </header>
    <article class="library-books">
        <ul>
            {% for i in items %}
            <li class="library-books__book">
                <h3> <span class="fa fa-{{i.medium}}"></span> <a href="/{{f.name}}/books/{{i.id}}"> {{i.title}} </a> </h3>
                <p>
                    <img src="{{i.cover}}"/>
                    {{i.description}}
                </p>
                <div class="meta-data">
                    <p>
                        <span class="fa fa-user"></span> Author: {{i.author}}
                        <span class="fa fa-user"></span> AddedBy: {{i.addedBy}}
                    </p>
                    <aside>
                        <a href="">Edit</a>
                        <a href="/{{f.name}}/books/{{i.id}}/remove">Remove</a>
                    </aside>
                </div>
            </li>
            {% endfor %}
        </ul>
    </article>
</section>
{% endfor %} {% include 'partials/footer.html' %}